PORT=4000
SUPABASE_URL=your-supabase-url
SUPABASE_ANON_KEY=your-supabase-anon-key
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
DELETE_ORDER_PASSWORD=
ONESIGNAL_APP_ID=your-onesignal-app-id
ONESIGNAL_REST_API_KEY=your-onesignal-rest-api-key

